<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"WEB-INF/libs/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>	<!-- DTO 카멜케이스 적용 -->
		<setting name="callSettersOnNulls" value="true"/>		
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>		
		<typeAlias alias="list" type="java.util.List" />
		<typeAlias alias="hashMap" type="java.util.HashMap" />
		<typeAlias alias="camelHashMap" type="com.app.demo.common.utils.LowerHashMap" />	<!-- resultType으로 사용 -->
				
	</typeAliases>	
</configuration>