<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.demo.domain.test.dao.TestDao">

	<select id="getTestDB" resultType="com.app.demo.domain.test.dto.Test001Dto">
		<![CDATA[
			SELECT TOT_AMT, TOT_VAT, PNO
			  FROM TEST001
		]]>
	</select>

</mapper>