.col1 input{
	min-width: 400px;
	margin-right: 10px;
}

/* col2 */
ul.add-list{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

ul.add-list li:nth-of-type(7n){
	margin-right: 0;
}

ul.add-list li{
    margin: 5px 10px 5px 0;
}

ul.add-list span{
	font-size: var(--font-size-regular4);
    font-weight: var(--font-weight-bold);
	padding-top: 5px;
}