
.price span::after{
	display: none;
}

button.preview-btn{
  	min-width: 260px;
    min-height: 60px;
}

/* 컨텐츠 영역 */
.tab-tit{
	width: 100%;
    border-bottom: 1px solid #ccc;
}

.tab-tit ul{
	display: flex;
    width: 600px;
    height: 60px;
    position: relative;
}

.tab-tit li{
	border: solid 1px #aaa;
	background-color: #f8f9fb;
  	font-size: var(--font-size-regular2);
  	font-weight: var(--font-weight-light);
 	color: #494a58;
 	line-height: 60px;
 	text-align: center;
 	width: 300px;
 	border-bottom:none;
 	cursor: pointer;
	position: absolute;
    top: 0px;
    height: 60px;
}

.tab-tit li:first-child{
	border-right: none;
}

.tab-tit li.active{
	border-top: solid 4px #3b3e86;
  	background-color: #fff;
  	font-size: var(--font-size-regular2);
  	font-weight: var(--font-weight-bold);
  	color: #494a58;
	height: 61px;
}

.tab-tit li:first-child{
	left: 0;
}

.tab-tit li:last-child{
	right: 0;
}

.tab-con{
	display: none;
}

.tab-con.active{
	display: block;
}

/* 시술 탭 */
.normal .explan-area{
	position: initial;
	margin: 0 0 10px 0;
	padding-right: 10px;
}

.normal .prd{
	margin-bottom: 0;
}

.prd , .sort-area{
    padding-left: 13.5px;
    margin: 0;
}

.prd{
	margin: 20px 0 0;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.prd > div{
	width: 100%;
}

.prd-div{
	margin-bottom: 20px;
}

.prd label{
  	font-size: var(--font-size-regular4);
  	font-weight: var(--font-weight-regular);
	color: #111;
	margin-right: 20px;
}

.price .prd .select-box{
	position: relative;
}

.price .prd .prd-div select{
	border-radius: 4px;
	border: solid 1px #4a4d9f;
	background-color: #fff;
	width: 120px;
}

.price .prd button.arrow{
	position: absolute;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  	background-color: #4a4d9f;
  	width: 25px;
  	height: 100%;
  	right :0;
  	top: 0;
  	display: flex;
  	align-items: center;
    justify-content: center;
}

.price .prd button.arrow::before{
	content:'';
	display: inline-block;
	width: 10px;
	height: 5px;
	background: url(/resources/images/prd/Icon_triangleArrow_white.svg) no-repeat center center;
	background-size: auto;
    transform: rotate(90deg);
}

.price .sort-area{
	padding: 0;
	margin-bottom: 0;
}

.sort-area label{
	margin-right: 20px;
  	font-size: var(--font-size-regular1);
  	font-weight: var(--font-weight-regular);
}

.explan-area{
	width: 100%;
	display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.explan-area p{
  	font-size: var(--font-size-regular1);
  	font-weight: var(--font-weight-bold);
    color: #111;
    position: relative;
}

.highlight:after{
	content:"";
	width: 100%;
	height: 10px;
	display: inline-block;
	background: #9f89ff33;;
    position: absolute;
    bottom: 0;
    left: 0;
}

.event .prd{
	margin : 20px 0 20px;
}

/* 그리드 */
.tabulator-col , .tabulator-cell{
	margin: 0 10px 0 0;
}

.tabulator-row .tabulator-cell.tabulator-editing{
    border: 1px solid #333 !important;
    color: #111;
    padding: 0 6px;
} 

.tabulator-row.tabulator-selectable:hover{
	cursor: initial !important;
}

.tabulator-row .tabulator-cell:last-of-type{
    justify-content: center;
}

.tabulator-row .tabulator-cell.edit-disabled {
	pointer-events: none!important;
}

.tabulator-row .tabulator-cell.tabulator-editing > input{
	box-shadow: none;
    padding: 0px;
}  

.cell-edit, .cell-money {
  	border-radius: 4px;
  	border: solid 1px #c3c3cc !important;
  	background-color: #fff;
  	padding: 0 10px;
  	font-size: var(--font-size-regular1);
  	font-weight: var(--font-weight-regular);
	color: #333;
	opacity: 0.9;
	height: 40px !important;
   	display: flex !important;
    align-items: center;
}

.cell-money::after{
    content: " 원";    
    position: absolute;
    right: 3px;
    color: #666;
}

.tabulator-row{
	display: flex;
	align-items: center;	
}

.tabulator-row .tabulator-cell:first-child{
	display: flex;
	align-items: center;
    justify-content: center;
}

.tabulator-row .tabulator-cell:first-child img{
	width: 14px;
	height: 26px;
}

.cell-edit input{
	min-width: 100%;
}

.cell-edit input:focus{
	box-shadow: none;
	width: 300px;
}

.tabulator-cell button{
  	font-size: var(--font-size-regular);
  	font-weight: var(--font-weight-regular);
	min-width: 68px;	
	height: 24px;
	background-color: transparent;
	margin-right: 8px;
	position: absolute;
    top: 50%;
    left: 90px;
    transform: translate(-50% , -50%);
}

button.login-record{
    position: initial;
    top: 0;
    left: 0;
    transform: initial;
}

button.applyBtn{
	border-radius: 4px;
	background-color: #f84040;
	color: #fff;
	line-height: 24px;
}

button.applyBtn:before{
	content: '현재 적용';
	display: inline-block;
	margin-bottom: 1px;
}

button.newBtn{
	border-radius: 4px;
	background-color: #3cb993;
	color: #fff;
	line-height: 24px;
}

button.newBtn:before{
	content: '적용 예정';
	display: inline-block;
	margin-bottom: 1px;
}

/* 팝업 - 최종 업데이트 */
.final-update{
	margin: 30px 0 90px;
}

.final-update img{
	width: 72px;
	height: 71px;
	margin-bottom: 10px;
    margin: 0 auto;
    display: inherit;
    margin-bottom: 10px;
    object-fit: none;
}

.final-update > p{
	text-align: center;
  	font-size: var(--font-size-regular4);
  	font-weight: var(--font-weight-bold);
    color: #111;
    margin-bottom: 30px;
}

.final-update .status-area{
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.final-update .status-area > div{
	display: flex;
    align-items: center;
}

.final-update .status-area span{
  	font-size: var(--font-size-regular1);
  	font-weight: var(--font-weight-regular);
	display: inline-block;
	margin-left: 14px;
	color: #333;
	line-height: 22px;
}

.final-update .status-area button{
	padding: 0 10px 0;
  	font-size: var(--font-size-regular);
  	font-weight: var(--font-weight-regular);
	color: #fefefe;
	min-width: 68px;
	height: 24px;
}

.popup-btn.final-update-btn{
    position: fixed;
    left: 0;
    bottom: 0;
}

#spinner{
	margin: 0px auto 50px;
}

button.go-home-btn{
	border-radius: 50px;
	border: solid 2px #5c61cb;
	font-size: var(--font-size-regular1);
	font-weight: var(--font-weight-bold);
	color: #333;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	display: block;
	background: #fff;
	width: 180px;
}

button.go-home-btn::before{
	content:'';
	display: inline-block;
	width: 18px;
	height: 18px;
    background: url(/resources/images/prd/Icon_home_black.svg) no-repeat center center;
    background-size: contain;
	margin-right: 10px;
}

button.full-update-btn , button.full-btn{
	width:100%;
    background-color: #5c61cb;
    color: #fff;
  	font-size: var(--font-size-regular2);
  	font-weight: var(--font-weight-regular);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	display: flex;
    align-items: center;
    justify-content: center;
}

/* 팝업 - 업데이트 알람 설정 */
.update-alarm{
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.update-alarm > div{
	width: 260px;
}

.update-alarm > span{
	border-radius: 4px;
    border: solid 1px #fefefe;
    background-color: #f6f6f6;
    width: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-alarm > span:before{
    content: '';
    display: inline-block;
    width: 14px;
    height: 11px;
    background: url(/resources/images/mbr/Icon_addAreaTap.svg) no-repeat left center;
    background-size: contain;
}

.update-alarm-title{
	box-shadow: 0 1px 2px 0 rgba(204, 204, 204, 0.5);
	border: solid 1px #eee;
	background-color: #fbfbfb;
  	font-size: var(--font-size-regular3);
  	font-weight: var(--font-weight-bold);
	color: #333;
	gap: 4px;
	display: flex;
	padding: 14px 20px 19px;
}

.update-alarm-title span{
	color: #ff5454;
	font-size: inherit;
	font-weight: inherit;
}

.update-alarm-title span:last-child{
	color: #333;
}

.update-alarm-con{
	height: 460px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	border: solid 1px #eee;
	background-color: #fdfdfd;
	padding: 20px;
	display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.update-alarm-list li.active::after {
    background-image: url(/resources/images/prd/Icon_tap_white.svg);
}

.update-alarm-list li::after {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(/resources/images/prd/Icon_tap_black.svg) no-repeat center center;
    background-size: contain;
    margin-top: 3px;
}